<%- include("templates/encabezado") %>
<div class="h">
<h1>Productos registrados</h1>
<h4>Nombre: <%= nombre %></h4>
<h4>Precio: <%= precio %></h4>
<h4>Cantidad: <%= cantidad %></h4>
<h4>Descuento: <%= descuento %></h4>
<a href="/mostrarProductos">
    <button>Regresar</button></a>
</div>
<%- include("templates/pie") %>