<%- include("templates/encabezado") %>
<div class="h">
    <h1>Usuarios activos</h1>
    <h4>Nombre: <%= nombre %></h4>
    <h4>Celular: <%= celular %></h4>
    <h4>Correo: <%= correo %></h4>
    <a href="/">
        <button>Regresar</button></a>
    </div>
<%- include("templates/pie") %>